<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="results" method="post">
    <label for="color">Color
        <select name="color" id="color">
            <option value="blue">Blue</option>
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="grey">Grey</option>
        </select>
    </label>
    <input type="submit" value="Submit">
</form>

</body>
</html>