<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="#" method="post">
    <label for="color">Color
        <select name="color" id="color">
            <option value="none">--Select--</option>
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option value="{{ @colorOption }}"
                    <check if="{{ @colorOption == @color }}">selected</check>
                >{{@colorOption}}</option>
            </repeat>
        </select>
    </label>
    <input type="submit" value="Submit">
    <check if="{{ @errors['color'] }}">
        <span class="err">{{ @errors['color'] }}</span>
    </check>
</form>

</body>
</html>